<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.macbookpro.hcic">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Di-Stress"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="com.example.macbookpro.hcic.MAINACTIVITY" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".draw"
            android:label="@string/title_activity_draw"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".click"
            android:label="@string/title_activity_click"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".calender"
            android:label="@string/title_activity_calender"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".stroke"
            android:label="stroke"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".graph"
            android:label="@string/title_activity_graph"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>